@define-mixin media-query-desktop {
  @media (min-width: 1230px) {
    @mixin-content;
  }
}

@define-mixin media-query-large-tablet {
  @media (min-width: 1024px) {
    @mixin-content;
  }
}

@define-mixin media-query-tablet {
  @media (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin media-query-large-mobile {
  @media (min-width: 551px) {
    @mixin-content;
  }
}

@define-mixin visually-hidden {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

@define-mixin css-reset {
  & h1,
  h2,
  h3,
  p {
    padding: 0;
    margin: 0;
  }
  & ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  & img {
    max-inline-size: 100%;
    object-fit: cover;
  }

  & button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

  & figure {
    margin: 0;
    padding: 0;
  }

  & a {
    text-decoration: none;
    color: inherit;
  }
}
