@import "./_css-reset.css";
@import "./_mixins.css";

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-white-75: hsla(0, 0%, 100%, 0.75);
  --color-white-50: hsla(0, 0%, 100%, 0.5);
  --color-black: hsl(0, 0%, 0%);
  --color-black-75: hsla(0, 0%, 0%, 0.75);
  --color-light-grayish-blue: hsl(223, 64%, 98%);
  --color-grayish-blue: hsl(220, 14%, 75%);
  --color-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-very-dark-blue: hsl(220, 13%, 13%);
  --color-orange: hsl(26, 100%, 55%);
  --color-pale-orange: hsl(25, 100%, 94%);
  --default-font-family: "Kumbh Sans", sans-serif;
  --default-font-size: 16px;
  --fw-regular: 400;
  --fw-bold: 700;
  --nav-height-desktop: 50px;
  --nav-padding-bottom-desktop: 34px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--default-font-family);
  font-variation-settings: "wght" var(--fw-regular);
  font-size: var(--default-font-size);
  color: var(--color-very-dark-blue);
  background-color: var(--color--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 19px;

  @mixin media-query-large-tablet {
    padding-top: 28px;
  }
}
img {
  max-inline-size: 100%;
  object-fit: cover;
}

main {
  width: 100%;

  @mixin media-query-medium-tablet {
    display: flex;
    gap: 1rem;
    padding: 90px 1.5rem;

    & > * {
      flex: 1;
      /* border: 1px solid red; */
    }
  }
  @mixin media-query-medium-tablet {
    padding: 0 3rem;
    padding-top: 90px;
  }
  @mixin media-query-desktop {
    width: 1110px;
    margin: 0 auto;
  }
}
