@import "../../../css/_mixins.css";

:host *,
:host *:before,
:host *:after {
  box-sizing: border-box;
}

:host {
  @mixin css-reset;
  @mixin visually-hidden;

  & .image-gallery {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    & .product-image-list {
      --btn-size: 40px;
      --product-image-width: 100vw;
      --product-image-height: 300px;
      position: relative;
      width: var(--product-image-width);
      height: var(--product-image-height);
      overflow: hidden;

      & .previous-btn,
      & .next-btn {
        width: var(--btn-size);
        height: var(--btn-size);
        background-color: var(--color-white);
        border-radius: 50%;
        display: flex;
        align-items: center;
        z-index: 100;

        & svg {
          height: 12px;
          & path {
            stroke-width: 4px;
          }
        }

        &:hover {
          & svg {
            & path {
              stroke: var(--color-orange);
            }
          }
        }
      }

      & .previous-btn {
        position: absolute;
        top: calc(50% - var(--btn-size) / 2);
        left: 1rem;
        padding-left: calc(var(--btn-size) / 2 - 8px);
      }
      & .next-btn {
        position: absolute;
        top: calc(50% - var(--btn-size) / 2);
        right: 1rem;
        padding-left: calc(var(--btn-size) / 2 - 6px);
      }

      & .product-image-container {
        --translate-x: 1;
        width: calc(var(--product-image-width) * 6);
        display: flex;
        transform: translateX(
          calc(var(--translate-x) * -1 * var(--product-image-width))
        );
        transition: var(--transition, transform 0.3s ease-in-out);

        & figure {
          width: var(--product-image-width);
          height: var(--product-image-height);

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top center;
          }
        }
      }

      @mixin media-query-medium-mobile {
        /* --product-image-height: 400px; */
        --product-image-height: 45vh;
      }
      @mixin media-query-large-mobile {
        --product-image-height: 65vh;
      }
      @mixin media-query-tablet {
        --product-image-height: 75vh;
      }
      @mixin media-query-medium-tablet {
        --product-image-height: 85vh;
      }
      @mixin media-query-medium-tablet {
        --product-image-height: 445px;
        --product-image-width: 445px;

        & .previous-btn,
        & .next-btn {
          display: none;
        }

        & .product-image-container {
          & figure {
            & img {
              border-radius: 15px;
            }
          }
        }
      }
    }

    & .product-thumbnail-list {
      display: none;

      @mixin media-query-medium-tablet {
        display: flex;
        gap: 31px;

        & button {
          --thumbnail-size: 88px;
          width: var(--thumbnail-size);
          height: var(--thumbnail-size);
          position: relative;
          &.active,
          &:hover {
            &:after {
              content: "";
              position: absolute;
              top: -1px;
              left: -1px;
              width: calc(100% + 2px);
              height: calc(100% + 2px);
              border-radius: 10px;
              background-image: linear-gradient(
                to right,
                var(--color-white-50),
                var(--color-white-50)
              );
            }
          }
          &.active {
            &:after {
              border: 2px solid var(--color-orange);
              background-image: linear-gradient(
                to right,
                var(--color-white-75),
                var(--color-white-75)
              );
            }
          }

          & img {
            border-radius: 10px;
          }
        }
      }
    }
  }

  & #lightbox {
    display: none;

    &.open {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-black-75);
      display: flex;
      align-items: center;
      z-index: 102;
    }

    & #lightbox-content {
      --content-width: 550px;
      --lightbox-btn-size: 56px;
      position: relative;
      width: calc(var(--content-width) + var(--lightbox-btn-size));
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      & #close-btn {
        align-self: end;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: calc(var(--lightbox-btn-size) / 2);
        & svg {
          width: 20px;
          height: 20px;
          & path {
            fill: var(--color-white);
          }
        }

        &:hover {
          & svg {
            & path {
              fill: var(--color-orange);
            }
          }
        }
      }

      & .image-gallery {
        width: 100%;

        & .product-image-list {
          --btn-size: var(--lightbox-btn-size);
          --product-image-width: var(--content-width);
          --product-image-height: var(--content-width);
          position: static;
          margin: 0 auto;

          & .previous-btn,
          & .next-btn {
            display: flex;
            & svg {
              height: 16px;
              & path {
                stroke-width: 3px;
              }
            }
          }

          & .previous-btn {
            top: calc(50% - var(--btn-size) / 2 - 2rem);
            left: 0;
          }
          & .next-btn {
            top: calc(50% - var(--btn-size) / 2 - 2rem);
            right: 0;
          }
        }
        & .product-thumbnail-list {
          justify-content: center;
        }
      }
    }
  }
}
