@import "../../../css/_mixins.css";

:host *,
:host *:before,
:host *:after {
  box-sizing: border-box;
}

:host {
  @mixin visually-hidden;
  @mixin css-reset;

  & header {
    padding: 0 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e4e9f2;
    display: flex;
    justify-content: space-between;
    align-items: end;

    @mixin media-query-desktop {
      width: 1110px;
      margin: 0 auto;
    }

    & #logo {
      object-fit: contain;
    }

    & nav-bar {
      order: -1;
    }

    & #empty-space {
      flex: 1;
    }

    & #cart-icon {
      display: flex;
      align-items: center;
      position: relative;

      &:hover {
        & svg path {
          fill: var(--color-very-dark-blue);
        }
      }

      &.active {
        & svg path {
          fill: var(--color-very-dark-blue);
        }

        &:after {
          content: attr(data-quantity);
          position: absolute;
          bottom: 13px;
          left: 9px;
          width: 19px;
          height: 13px;
          background-color: var(--color-orange);
          border-radius: 6.5px;
          font-family: var(--default-font-family);
          font-size: 0.625rem;
          font-variation-settings: "wght" var(--fw-bold);
          color: var(--color-white);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    & #avatar {
      --avatar-size: 24px;
      position: relative;
      width: var(--avatar-size);
      height: var(--avatar-size);
      margin-left: 22px;

      &:hover {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 2px solid var(--color-orange);
        }
      }
    }

    @mixin media-query-large-tablet {
      padding-bottom: var(--nav-padding-bottom-desktop);
      align-items: center;

      & nav-bar {
        height: var(--nav-height-desktop);
        order: inherit;
      }
      & #avatar {
        --avatar-size: var(--nav-height-desktop);
        margin-left: 46.18px;
      }
    }

    @mixin media-query-desktop {
      padding: 0 0 var(--nav-padding-bottom-desktop);
      & #cart-wrapper {
        position: relative;
      }
    }
  }
}
